<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <title>php-todo-list-json</title>
</head>
<body>
    
    <div id="app">
       
        <div class="container">

            <header>
                <h1>Dashboard</h1>
            </header>
            
            <div class="tasks_Container">

                <!-- TASKS BOX -->
                <div @click="modifyInputOFF()" class="tasks_box">
                    <div :class="this.modifyInputVisibility ? 'opacity_mid list_box' : 'list_box'">
                        <h2>Tasks Manager:</h2>
                        <ul>
                            <li @click="setCompleted(task)" :class="{ completed_color: task.completed }"  v-for="task, index in tasks">
                                {{ task.name }} 
                                <i @click="cancelTask(index)" class="fa-solid fa-xmark" style="color: #f50000;"></i>
                                <i @click="showModifyInput(), setIndexToModify(index)" class="fa-solid fa-pen-to-square pencil_icon"></i>
                            </li>
                        </ul>
                    </div>

                    <!-- ADD NEW TASK -->
                    <div :class="this.modifyInputVisibility ? 'opacity_mid form_box' : 'form_box'">
                        <input type="text" v-model="userNewTask" name="newTask" id="taskInput" placeholder="Insert a new task...">
                        <button type="button" @click="addNewTask()" class="addTask_button">Add to Task List</button>

                        <!-- disabled="true" tra le proprietà per gestire con un if la possibilità di avere il pulsante add attivo o meno in base ai dati che l'utente inserisce -->
                    </div>
                </div>

                <!-- MODIFY TASK -->
                <div class="abs_modify_box">
                    <input type="text" v-model="modifyTaskText" @keyup.enter="modifyTask()" :class="this.modifyInputVisibility ? 'modifyInput display_On' : 'modifyInput display_Off' " v-on:blur="modifyInputOFF()" name="modifyTask" placeholder="Write and press Enter to modify..." >
                </div>
            </div>
        </div>

    </div>



    <script src="./main.js"></script>
</body>
</html>